.pdf {
	margin-top:  2%;
	width: 50%;
	height: 20%;
}

* {
    font-family: Fira Code;
    color: #ebdbb2;
}

body {
    background-color: #292929;
}

a:link { text-decoration: none; color: #83a598; }
a:visited { text-decoration: none; color: #83a598; }
a:hover { color: #b16286; }
