
* {
    font-family: Fira Code;
    color: #ebdbb2;
}

button {
    background-color: #b16286;
    border: none;
    box-shadow: 3px 4px 10px black;
}

button:hover {
    background-color: #d3869b;
    cursor: pointer;
}

body {
    background-color: #292929;
}

#the-canvas {
    border: 1px black solid;
    margin: auto;
    display: flex;
    justify-content: center; /* for horizontal */
}
.button_container {
    padding-bottom: 2%;
    margin: auto;
    display: flex;
    justify-content: center; /* for horizontal */
}

#prev {
    margin-right: 3%;
}

#next {
    float: right;
    margin-left: 3%;
}
